version: 2
jobs:
  build:
    # For testcontainers.org
    machine:
      image: ubuntu-1604:202007-01
    working_directory: ~/repo
    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx1g
      TERM: dumb
    steps:
      - checkout
# TODO Task 'downloadDependencies' not found in root project 'hypertrace-otel-agent'.
#      # Download and cache dependencies
#      - restore_cache:
#          keys:
#            - v1-dependencies-{{ checksum "build.gradle.kts" }}
#            # fallback to using the latest cache if no exact match is found
#            - v1-dependencies-
#
#
#      - run: ./gradlew downloadDependencies
#
#      - save_cache:
#          paths:
#            - ~/.gradle
#          key: v1-dependencies-{{ checksum "build.gradle.kts" }}
      - run: make build

  muzzle:
    docker:
      - image: circleci/openjdk:11.0.6-jdk-buster
    working_directory: ~/repo
    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx1g
      TERM: dumb
    steps:
      - checkout
      - run: make muzzle
  release-publish:
    docker:
      - image: circleci/openjdk:11.0.6-jdk-buster
    steps:
      - checkout
      - run: ./gradlew :tag -Prelease
      - run: ./gradlew publish
      - add_ssh_keys:
          fingerprints:
            - 'f1:dd:0f:dc:42:b3:bf:9f:b8:e3:e8:3f:9b:92:04:fb'
      - run: git push origin $(./gradlew -q :printVersion)

workflows:
  version: 2
  build-and-publish:
    jobs:
      - build
      - muzzle
      - release-publish:
          context: hypertrace-publishing
          requires:
            - build
            - muzzle
          filters:
            tags:
              only: /^release-.*/
